<h1>Page 4 of 4: Review</h1>

<h2>Name</h2>

<p>
  <%= @customer.first_name %> <%= @customer.last_name %>
</p>

<h2>Shipping speed</h2>
<%= @customer.ship_speed %>

<h2>Shipping address</h2>
<%= @customer.ship_address1 %>
<br>
<%= @customer.ship_city %>, <%= @customer.ship_state %> <%= @customer.ship_zip_code %>

<h2>Billing address</h2>
<%= @customer.bill_address1 %>
<br>
<%= @customer.bill_city %>, <%= @customer.bill_state %> <%= @customer.bill_zip_code %>

<p>
<%= submit_tag "Go Back" %> or 
<%= submit_tag "Place Order"%>
</p>