<%= error_messages_for @customer %>

<h1>Page 2 of 4: Shipping</h1>

<h2>Choose shipping speed</h2>
<p>
  <%= radio_button_tag "ship_speed", "ground", @customer.ship_speed %>
  <%= label_tag "ship_speed_ground", "Ground" %>
  <br>
  <%= radio_button_tag "ship_speed", "next_day", @customer.ship_speed %>
  <%= label_tag "ship_speed_next_day", "Next Day" %>
</p>

<h2>Enter shipping address</h2>
<p>
<%= label_tag "ship_address1", "Address1" %>
<br>
<%= text_field_tag "ship_address1", @customer.ship_address1 %>
</p>
<p>
<%= label_tag "ship_city", "City" %>
<br>
<%= text_field_tag "ship_city", @customer.ship_city %>
</p>
<p>
<%= label_tag "ship_state", "State" %>
<br>
<%= select_tag "ship_state", options_from_collection_for_select(
  USState.order(:id), :abbreviation, :name, @customer.ship_state),
  prompt: "Choose a state..." %>
</p>
<p>
<%= label_tag "ship_zip_code", "Zip Code" %>
<br>
<%= text_field_tag "ship_zip_code", @customer.ship_zip_code %>
</p>

<br>
<%= submit_tag "Go Back" %> or 
<%= submit_tag "Continue"%>