<h1>Edit or add new goat</h1>

<table>

<tr>
  <th><%= label_tag "Name" %></th>
  <td><%= text_field_tag "name", @goat.name, size: 20 %></td>  
</tr>

<tr>
  <th><%= label_tag "Gender" %></th>
  <td><%= text_field_tag "gender", @goat.gender, size: 20 %></td>
</tr>

<tr>
  <th><%= label_tag "Best 100 meter time" %></th>
  <td><%= text_field_tag "best_100m_time", @goat.best_100m_time, size: 20 %></td>
</tr>

<tr>
  <th><%= label_tag "Dietary preference" %></th>
  <td><%= text_field_tag "dietary_preference", @goat.dietary_preference, size: 20 %></td>
</tr>

<tr>
  <th></th>
   <td><%= submit_tag "Save" %></td>
</tr>

</table>