<h1>Edit <%= @language.name %></h1>

<p>
  <%= label_tag "name", "Name" %>
  <br>
  <%= text_field_tag "name", @language.name, size: 20 %>
</p>

<p>
  <%= label_tag "num_speakers", "Number of speakers" %>
  <br>
  <%= text_field_tag "num_speakers", @language.num_speakers, size: 20 %>
</p>

<p>
  <%= label_tag "language_family_id", "Language family" %>
  <br>
  <%= select_tag "language_family_id", options_from_collection_for_select(
    LanguageFamily.order(:id), :id, :name, @language.language_family_id),
    prompt: "Choose language family" %>
</p>

<p>
  <%= label_tag "main_script", "Main script" %>
  <br>
  <%= select_tag "main_script", options_for_select([
    "Latin", "Perso-Arabic"],
    @language.main_script),
    prompt: "Choose a main script" %>
</p>

<p>
  <%= label_tag "has_arabic_script", "Has arabic script" %>
  <br>
  <%= check_box_tag "has_arabic_script", 
    "on", 
    @language.has_arabic_script %>
</p>

<br>
<br>
<%= submit_tag "Update language" %>   